.header{
  background-color: #353a40;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12%;
  margin-bottom: 1%;
}

.background{
  background-color: #f8f9fa;
}

.bottomM{
  margin-bottom: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  margin: 5px;
  background-color: white;
  justify-content: center;
}

.size{
  object-fit: contain;
  height: 300px;
  width: 100%;
}

.bottom{
  margin-bottom: 10px;
}

.detailName{
  margin-top: 35px;
  font-size: 20pt;
}

.detailPage{
 border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: lightgray;
  margin-top: 40px;
  background-color: white;
}

.topRow{
  margin-top: 20px;
}

.bottomRow{
  margin: 15px;
}

.cart{
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
  margin-top: 1.5%;
}

.rowmod{
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
